<h3> book</h3>
<form enctype="multipart/form-data">
 <pre>{{book}}</pre>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" ng-model="book.title" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" ng-model="book.author" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="publishedDate">Date Published</label>
    <input type="text" name="publishedDate" id="publishedDate" ng-model="book.publishedDate" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" ng-model="book.description" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="image">Cover Image</label>
    <input onchange="angular.element(this).scope().filesChanged(this)"
    type="file" name="image" id="image" class="form-control"/>
  </div>
  <div class="form-group hidden">
    <label for="imageUrl">Cover Image URL</label>
    <input type="text" name="imageUrl" id="imageUrl" ng-model="book.imageUrl" class="form-control"/>
  </div>
<li ng-repeat="file in files"></li>
   


  <button ng-click="upload()" class="btn">Upload</button>
</form>